body {
    background: #000;
    /*background-image: url('img/space.png');*/
    /*background-repeat: repeat;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bullet {
    position: absolute;
    width: 4px;
    height: 25px;
    background: white;
    top: 100px;
    left: 100px;
}

#ship{
    position: absolute;
    height: 50px;
    width: 50px;
    background: url('img/ship.png');
    background-size: contain;
}

.planet {
    position: absolute;
    background-size: contain;
    /*background: #aaa;*/
    /*border-radius: 50%;*/
}

.vector {
    position: absolute;
    top: 50%;
    height: 1px;
    background: white;
    left: 50%;
    transform-origin: top left;
}

.vector.speed {
    background: green;
}
.vector.force {
    background: red;
}